/* You can add global styles to this file, and also import other style files */
#calendar {
  height: 800px;
  margin: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #34697a;
  --secondary-color:rgba(2, 62, 81, 0.02);
  /*--secondary-color: #00dcd1a7;*/
  --background-color: #fbfcfd;
  --text-color: #474646;
  --text-color-light:#fbfcfd;
}
